{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "mocha": true
  },
  "rules": {
    "comma-dangle": ["error", "only-multiline"],
    "class-methods-use-this": "off"
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
